.git
.gitignore
.env
.env.*
!.env.example
node_modules
dist
coverage
*.log

apps
docker-compose.yml
README.md

apps/admin/.next
apps/admin/node_modules
apps/customer/build
apps/customer/.dart_tool
apps/partner/build
apps/partner/.dart_tool
